/* your code here */



.link-boxes{
	color:white;
	font-size:25px;
	width:1000px;
	display:flex;
	justify-content:space-between;
	margin:10px;
	padding:40px 49px;
	
	
	
}

ul{
list-style:none;	
}
h4{
	color:white;
	font-size:23px;
	
	height:2px;
	
	position:relative;
	margin-bottom:30px;
	
}
.item ul li{
	padding:10px 0;
	font-size:22px;
	opacity:0.75;
	transition:0.5;
	margin-left:-37px;
	padding-right:1px;
}

 h4::after{
	content:"";
	display:block;
	height:2px;
	width:45px;
	background-color:white;
	margin-botton:-20px;
	
}
.media-icons{
	display:flex;
	float:left;
	margin:15px;
	right:90px;
	padding-left:50px;
	width:311px;
	
	
	
	
}
.content{
	
	background-color:black;
	height:400px;
	position:relative;
	padding:4px;
	width:1100px;
	marging:70px 70px 70px;
}
.logo-details{
	width:660px;
	
	dispaly:inline-block;
	float:left;
	margin:20px
	
}
.bottom-details{
	background-color:rgb(44, 48, 58);
	padding:4px;
	height:70px;
	width:1100px;
	font-size:22px;
	color:white;
	display:flex;
	gap:600px;
	
}
.bottom-details p{
	margin:20px 10px 10px 40px;
	opacity:0.70;
	
}

.logo_name{
	color:white;
	font-size:50px;
	padding:3px 30px;
	margin:2px;
	
	
}