/* your code here */
.media-icons{
	display:inline-block;
	float:left;
	margin:15px;
	right:90px;
	padding-right:45px;
	width:300px;
	
	border:2px solid white;
	
	
}
.content{
	
	background-color:black;
	height:700px;
	position:relative;
	padding:4px;
	marging:70px 70px 70px;
}
.logo-details{
	width:400px;
	border: 2px solid white;
	dispaly:inline-block;
	float:left;
	margin:20px
	
}
.logo_name{
	color:white;
	font-size:50px;
	padding:3px 30px;
	margin:2px;
	
	
}